html {
    background: rgb(36, 36, 36);
    /* background: radial-gradient(circle, rgba(0,96,13,1) 50%, rgba(31,148,9,1) 88%, rgba(12,198,0,1) 100%); */
    font-family: 'Arial';

  }

body {
    color: whitesmoke;
  }
h1{
  text-align: center;
}
  input {
    width: 2em;
    text-align: center;
    font-size: 20px;
    background: grey;
    border-style: none;
  }

  .contenedor {

border-style: dotted;
border-width: 2px;
border-color: blue;
display: block;
margin-left: 5%;margin-right: 5%;
max-width: 90%;
;

  }
  .cuadromayor {
    border-style: solid;
    border-width: 1px;
    max-width: 20em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    vertical-align: top;
    display: inline-block;

  }
  .cuadromayor:nth-child(even) {
    border-color: orangered;
    
  }